parameters:
    level: 8
    paths:
        - src
        - tests
    excludePaths:
        - tests/config
        - tests/public
    bootstrapFiles:
        - stubs/SplashConstants.php
    scanFiles:
        - stubs/SplashClient.php
        - stubs/InlineHelper.php
    ignoreErrors:
        - '#Call to static method log\(\) on an unknown class Splash\\Client\\Splash#'
        - '#Call to static method fromArray\(\) on an unknown class Splash\\Models\\Helpers\\InlineHelper#'
        - '#Constant SPL_T_.* not found#'
        - '#Undefined method.*#'
        - '#PHPDoc tag @var with type.*#'
